@import url('../style/components/font.css');
@import url('../style/components/base.css');

.section-main {
  padding: 15px 0 50px 0;
}
.main-image {
  border-radius: 25px;
}

.name {
  font-size: 40px;
  margin-bottom: 70px;
}
.first-name {
  font-weight: 400;
}
.last-name {
  font-weight: 700;
}
.position {
  padding: 12px 18px;
  border-radius: 8px;
  color: #6B8CAF;
  font-size: 18px;
  font-weight: 600;
  background-color: #D9E0F1;
}
.info {
  font-size: 28px;
  margin-bottom: 20px;
  color: #939393;
}
.section-skills, .section-education, .section-projects, .section-experience {
  padding: 35px 0;
}
.section-title {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 60px;
}
.after::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  background-color: #647891;
  top: 68px;
  left: 1px;
}
.skill, .tool{
  color: #647891;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 35px;
  font-weight: 600;
  position: relative;
}
.skill::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  height: 25px;
  width: 25px;
}
.tool::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  height: 25px;
  width: 25px;
}

.job-name, .institution-name, .project-name {
  position: relative;
  color: #647891;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 15px;
}
.job-name::before {
  content: '';
  height: 8px;
  width: 8px;
  background-color: #647891;
  border-radius: 50%;
  position: absolute;
  top: -20px;
}
.institution-name::before {
  content: '';
  height: 8px;
  width: 8px;
  background-color: #647891;
  border-radius: 50%;
  position: absolute;
  top: -20px;
}

.period {
  color: #7A7883;
  font-size: 18px;
}

.project {
  padding-left: 20px;
}
.project-name::before {
  content: '';
  height: 8px;
  width: 8px;
  background-color: #647891;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: -20px;
}
.project-description {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.5;
  color: #7A7883;
}





.html::before {
  background-image: url('../images/html5-logo.png');
}
.css::before {
  background-image: url('../images/css3-logo.png');
}
.js::before {
  background-image: url('../images/js-logo.png');
}
.react::before {
  background-image: url('../images/react-logo.png');
} 
.redux::before {
  background-image: url('../images/redux-logo.png');
} 
.sass::before {
  background-image: url('../images/sass-logo.png');
} 
.vue-js::before {
  background-image: url('../images/vue-logo.png');
} 
.rest-api::before {
  background-image: url('../images/rest-api-logo.jpg');
} 
.git::before {
  background-image: url('../images/git-logo.png');
} 
.gulp::before {
  background-image: url('../images/gulp-logo.png');
} 
.webpack::before {
  background-image: url('../images/webpack-logo.png');
} 
.figma::before {
  background-image: url('../images/figma-logo.png');
} 
.adobe-xd::before {
  background-image: url('../images/adobe-xd-logo.png');
} 
.photoshop::before {
  background-image: url('../images/photoshop-logo.png');
} 