@import url('../style/components/base.css');


.section-main {
  padding: 15px 0;
}

.main-image {
  border-radius: 25px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.name {
  font-size: 37px;
  margin-right: 20px;
}
.first-name {
  font-weight: 700;
}
.position {
  padding: 14px;
  border-radius: 7px;
  color: #6B8CAF;
  font-size: 20px;
  font-weight: 600;
  background-color: #D9E0F1;
}
.info {
  font-size: 24px;
  margin-bottom: 20px;
  color: #7A7883;
}
.section-skills, .section-education, .section-projects {
  padding: 30px 0;
}
.skills-title, .projects-title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 40px;
}
.education-title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 60px;
}
.skill, .tool{
  color: #636F7E;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 35px;
  font-weight: 700;
  position: relative;
}
.skill::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  height: 25px;
  width: 25px;
}
.tool::before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  height: 25px;
  width: 25px;
}

.html::before {
  background-image: url('../images/html5-logo.png');
}
.css::before {
  background-image: url('../images/css3-logo.png');
}
.js::before {
  background-image: url('../images/js-logo.png');
}
.react::before {
  background-image: url('../images/react-logo.png');
} 
.redux::before {
  background-image: url('../images/redux-logo.png');
} 
.sass::before {
  background-image: url('../images/sass-logo.png');
} 
.node-js::before {
  background-image: url('../images/nodejs-logo.png');
} 
.rest-api::before {
  background-image: url('../images/rest-api-logo.jpg');
} 
.git::before {
  background-image: url('../images/git-logo.png');
} 
.gulp::before {
  background-image: url('../images/gulp-logo.png');
} 
.webpack::before {
  background-image: url('../images/webpack-logo.png');
} 
.figma::before {
  background-image: url('../images/figma-logo.png');
} 
.adobe-xd::before {
  background-image: url('../images/adobe-xd-logo.png');
} 
.photoshop::before {
  background-image: url('../images/photoshop-logo.png');
} 


.name-institution, .project-name {
  position: relative;
  color: #636F7E;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 15px;
}
.name-institution::before {
  content: '';
  height: 10px;
  width: 10px;
  background-color: #55789e;
  border-radius: 50%;
  position: absolute;
  top: -30px;
}
.education-period {
  color: #7A7883;
  font-size: 18px;
  font-weight: 500;
}
.project-period {
  color: #7A7883;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
.project-description {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  color: #1E1E1E;
}

.nu-pogodi-project, .weather-widget-project {
  padding-left: 30px;
}

.nu-pogodi-project::before {
  content: '';
  height: 10px;
  width: 10px;
  background-color: #55789e;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 15px;
}
.weather-widget-project::before {
  content: '';
  height: 10px;
  width: 10px;
  background-color: #55789e;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 15px;
}