@font-face {
  font-family: 'Gill Sans Nova';
  src: local('Gill Sans Nova Light'), local('Gill-Sans-Nova-Light'),
      url('../../font/GillSansNova-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gill Sans Nova';
  src: local('Gill Sans Nova Book'), local('Gill-Sans-Nova-Book'),
      url('../../font/GillSansNova-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gill Sans Nova';
  src: local('Gill Sans Nova Medium'), local('Gill-Sans-Nova-Medium'),
      url('GillSansNova-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gill Sans Nova';
  src: local('Gill Sans Nova SemiBold'), local('Gill-Sans-Nova-SemiBold'),
      url('../../font/GillSansNova-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gill Sans Nova';
  src: local('Gill Sans Nova Bold'), local('Gill-Sans-Nova-Bold'),
      url('../../font/GillSansNova-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gill Sans Nova';
  src: local('Gill Sans Nova Heavy'), local('Gill-Sans-Nova-Heavy'),
      url('../../font/GillSansNova-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}